.contacts-modal {
  width: 100%;
  min-height: 705px;
  box-sizing: border-box;
  background: url(../img/contacts-bg.png);
  border-radius: 30px;
  background-size: cover;
  padding: 78px 113px 90px;
  position: relative;
}

.contacts-modal__title {
  color: #ffffff;
  font-family: "Rockn Roll One";
  font-size: 50px;
  font-weight: 400;
  letter-spacing: -19.77px;
  margin-bottom: 40px;
  text-align: center;
}

.contacts-modal__image {
  margin-bottom: 50px;
}

.contacts-modal__link {
  color: #666666;
  font-family: "Gilroy - Semibold";
  font-size: 21px;
  font-weight: 400;
}

.contacts-modal__name {
  color: #ffffff;
  font-family: "Gilroy - Semibold";
  font-size: 21px;
  font-weight: 400;
}

.contacts-modal__info {
  display: flex;
  align-items: flex-start;
}


.contacts-modal__list + .contacts-modal__list {
  margin-left: 50px;
}

.contacts-modal__list:first-child {
  position:relative;

  &:before {
    content: '';
    position:absolute;
    width: 3px;
    height: 100%;
    background-color: #fff;
    top: 0;
    right: -25px;
  }
}

.contacts-phone {
  display: flex;
  justify-content: space-between;
  padding: 13px 30px 13px 16px;
  background-color: #353535;
  border-radius: 35px;
  width: 257px;
}

.contacts-phone__number {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.contacts-phone__text {
  color: #ababab;
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 500;
}

.contacts-phone__tel {
  color: #f6f6f6;
  font-family: "Gilroy - Semibold";
  font-size: 28px;
  font-weight: 400;
}

.contacts-modal__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.close-modal {
  position: absolute;
  top:53px;
  right: 60px;

  svg {
    fill: #afafaf;
  }
}

.descr-modal {
  background-color: #101010;
  width: 100%;
  min-height: 520px;
  padding: 54px 50px;
  border-radius: 30px;
  position: relative;
}

.descr-modal__title {
  color: #ffffff;
  font-family: Gilroy;
  font-size: 29px;
  font-weight: 500;
  margin-bottom: 35px;
}

.descr-top__name {
  color: #ffffff;
  font-family: Gilroy;
  font-size: 29px;
  font-weight: 400;
  margin-bottom: 25px;
}

.descr-top__text {
  margin-bottom: 25px;
}

.descr-top__text,
.descr-top__weight,
.descr-bottom__name {
  font-family: Gilroy;
  font-size: 19px;
  font-weight: 400;
}

.descr-bottom__value {
  font-family: "Gilroy - Semibold";
  font-size: 29px;
  font-weight: 600;
  color: #fff;
}

.descr-bottom__itog {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 21px;
}

.modal-buy {
  width: 100%;
  height: 72px;
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.06);
  background-color: #00db5d;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: #ffffff;
  font-family: "Gilroy - Semibold";
  font-size: 27px;
  font-weight: 400;

  svg {
    fill: currentColor;
    margin-left: 10px;
  }
}

.descr-modal__inner {
  min-height: 358px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 301px;
}

.descr-modal__box {
  display:flex;
  justify-content: space-between;
}


.delivery-modal {
  padding: 78px 115px 100px;
  background-color: #101010;
  border-radius: 30px;
  position: relative;
}

.delivery-modal__title  {
  color: #ffffff;
  font-family: "Rockn Roll One";
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  letter-spacing: -18px;

  span + span {
    margin-left: 15px;
  }
}

.delivery-modal__text {
  max-width: 604px;
  width: 1006px;
  font-family: "Gilroy - Semibold";
  font-size: 21px;
  font-weight: 500;
  font-style: normal;
  letter-spacing: -0.21px;
  color: #fff;
  margin-top: -40px;
  margin-bottom: 50px;
}


.delivery-modal__img {
  margin-top: -50px;
}

.delivery-modal__descr {
  color: #a7a7a7;
  font-family: "Gilroy";
  font-weight: 500;
  font-style: normal;
  letter-spacing: -0.19px;
  max-width: 450px;
}

.delivery-modal__bottom {
  display:flex;
  justify-content: space-between;
}

.done-modal {
  border-radius: 30px;
  padding: 100px 60px 115px;
  background: url(../img/done-bg.png);
  background-size: 100% 100%;
  position: relative;
}

.done-modal__subtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: "Gilroy - Semibold";
  font-size: 27px;
  font-weight: 400;

  svg {
    margin-right: 13px;
  }
}

.done-modal__title {
  color: #ffffff;
  font-family: "Rockn Roll One";
  font-size: 50px;
  font-weight: 400;
  text-align: center;
  letter-spacing: -16px;
  display: flex;
  justify-content: center;

  span + span {
    margin-left: 15px;
  }
}

.done-modal__image {
  margin-bottom: 43px;
}

h3.done-modal__thirdtitle {
  color: #ffffff;
  font-family: "Gilroy - Semibold";
  font-size: 27px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  margin-bottom: 28px;
}

h4.done-modal__thirdtitle {
  color: #a7a7a7;
  font-family: "Gilroy - Semibold";
  font-size: 19px;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
  letter-spacing: -0.24px;
}

